doctype
html
    head
        title Challenge Mode

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(type='text/javascript' src='/javascript/script.js')
    body
        nav.navbar.navbar-default
            ul.nav.navbar-nav
                li
                    a(href='/home') Home
                li
                    a(href='/random') Random Question
                li
                    a(href='/settings') Settings
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/logout') Logout
                li
                     &nbsp;
        while message = flash.shift()
            div.col-md-4.col-md-offset-4.alert(class='alert-' + message.type)
                p= message.message
        block content


