extends ./layout.jade

block content
    #{message}
    form(method='POST', action='/login', name='login-form')
        div
            label(for='username') Username:
            input(type='text', name='username', placeholder='Enter username here')
        div
            label(for='password') Password:
            input(type='password', name='password', placeholder='password')
        div
            input(type='submit', value='Login')
    a(href="/signup") Signup
