extends ./layout.jade

block content
    h2 Answer Question
    div#edit-question
        form(method='POST', action='/questions/' + id)
            div #{question}
            div
                label(for='answer') Answer:
                input(type='text', name='answer', autofocus)
            div
                input(type='submit', value='Answer Question')
