extends ./layout.jade

block content
    div.col-md-4.col-md-offset-4.user-info
        img.user-image(src="http://" + user.gravatarURL + "?s=68")
        div.user-name
            div.user-username.
                #{user.username} 
            div.user-email.
                #{user.email}
    div.col-md-4.col-md-offset-4#create-question
        div.panel.panel-primary
            div.panel-heading
                div.panel-title
                    span.
                        Add Question To Quiz
            div.panel-body
                form.form-horizontal.col-md-10.col-md-offset-1(method='POST', action='/quiz/' + quiz.id + '/add')
                    div.form-group
                        label(for='questionId') Quiz Name:
                        input.form-control(type='text', name='questionId', placeholder='Question ID')
                    div.form-group
                        input.btn.btn-primary(type='submit', value='Add Question')
    if quiz.Questions
        div.col-md-4.col-md-offset-4
            div.panel.panel-primary
                div.panel-heading
                    div.panel-title.
                        Quiz Questions
                div.panel-body
                    ul.list-group
                        each question in quiz.Questions
                            li.list-group-item
                                a(href="/questions/" + question.id) #{question.question}&nbsp;
                                form.delete(method='POST', action='/quiz/' + quiz.id + '/' + question.id + '?_method=DELETE')
                                    button.clear-fix.btn.btn-danger.delete-question(type="submit")
                                        small
                                            span.glyphicon.glyphicon-trash


