extends ./layout.jade

block content
    div.col-md-4.col-md-offset-4
        div.panel.panel-primary
            div.panel-heading
                div.panel-title.
                    User Settings
            div.panel-body
                form.form-horizontal.col-md-10.col-md-offset-1(method='POST', action='/settings/' + id + '?_method=PUT')
                    div.form-group
                        label(for='username') Username:
                        input.form-control(type='text', value=username, disabled)
                        input(type='hidden', name='username', value=username)
                    div.form-group
                        label(for='email') Email:
                        input.form-control(type='text', name='email', value=email)
                    div.form-group
                        input.btn.btn-primary(type='submit', value='Update Info')
