form.delete {
    display: inline-block;
}

form.delete > button {
    background: none;
    border: none;
    heigth: auto;
    width: auto;
}

form.delete > button.delete-question {
    color: crimson;
}

.user-info {
    margin-bottom: 20px;
}

.user-image {
    float: left;
}

.user-username {
    font-size: 30px;
    font-weight: 800;
}

.user-mail {
    font-weight: 600;

}
