form.delete {
    display: inline-block;
}

form.delete > button {
    background: none;
    border: none;
    heigth: auto;
    width: auto;
}

form.delete > button.delete-question {
    color: crimson;
}

